<% camps.each do |camp| %>
    <h2 style="font-weight:450;"><%= camp.location %></h2>
      <p>
      <strong>
        <%= link_to camp.name, camp_path(camp) %>
      </strong>
      <br>
      <%= camp.description %>
      <br>
      </p>
  <% end %>